*.class

*.log

*.jar
*.war
*.ear

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting
!gradlew
!gradlew.bat

.idea/
*.iws
*.iml
*.ipr
out/
